

.app-wrapper {
    
    display: flex;
    flex-direction: column;
    max-width: 1920px;

    .main-wrapper {
        display:flex;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 2px dashed black;
            padding: 0px 5px;

            .logo {
                color: black;
            }

            .gear {
                visibility: hidden;
            }

            .login,
            .logout {
                color: black;
            }

            .login .door-open,
            .logout .door-open,
            .login .profile,
            .logout .profile {
                display:none;
            }

            .login:hover,
            .logout:hover {
                .door-closed {
                    display:none;
                }
                .door-open {
                    display: inline;
                }
            }

        }

        .tabs-wrapper {
            display: flex;

            .home-tab,
            .past-tab,
            .present-tab,
            .future-tab {
                
                display: flex;
                align-items: center;
                background-color: grey;
                
                .rotate {
                    transform: rotate(-90deg);
                }

                
            
            }


       



        }

        .comment-section {
            position: absolute;
            bottom: 0px;
            right: 0px;

            .fa-comment {
                height: 10px;
                width: 10px;
            }
        }






    }
}
