@import "./image-carousel.scss";
@import "./media-queries.scss";
@import "./layout.scss";
@import "./home.scss";
@import "./profile.scss";
@import "./edit.scss";
html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    background-color: black;
    
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;

}
